<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
      <h3>Flipkart</h3>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/home" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a routerLink="/cheap" class="nav-link px-2 text-white">Cheap Products <strong>({{productsCount.cheap}})</strong></a></li>
        <li><a routerLink="/affordable" class="nav-link px-2 text-white">Affordable Products <strong>({{productsCount.affordable}})</strong></a></li>
        <li><a routerLink="/costly" class="nav-link px-2 text-white">Costly Products <strong>({{productsCount.costly}})</strong></a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
      </form>

      <div class="text-end">
        <button routerLink="/cart" type="button" class="btn btn-outline-light me-2">Cart</button>
        <button routerLink="/checkout" type="button" class="btn btn-warning">Checkout</button>
      </div>
    </div>
  </div>
</header>
